<!--<div class="zg-comment panel panel-default">
    <div class="zg-comment-profile">
        <img class="zg-comment-profile-avatar" src="https://pbs.twimg.com/profile_images/602639364049522688/y0asNaq0.png" />
        <div class="zg-comment-profile-username">Zignd</div>
        <div class="zg-comment-profile-reputation">1500</div>
    </div>
    <div class="zg-comment-separator-vertical"></div>
    <div class="zg-comment-body">
        <div class="zg-comment-body-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae est at urna malesuada sollicitudin sed ut justo. Praesent fringilla mi non mi vestibulum bibendum. Vivamus ipsum metus, gravida at nisi quis, placerat malesuada ante. Mauris ultricies, velit eget luctus fermentum, lacus erat malesuada ex, eget faucibus nisi nulla eget urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pulvinar est in pretium porta. In vitae felis libero. Cras non ornare justo. Sed sed est massa. Morbi nunc risus, aliquet ut auctor scelerisque, imperdiet a mauris. Etiam vulputate vitae ex rhoncus dictum.
        </div>
        <div class="zg-comment-separator-horizontal"></div>
        <div class="zg-comment-body-signature">
            Signature
        </div>
    </div>
    <div class="zg-comment-separator-vertical"></div>
    <div class="zg-comment-votes">
        <span class="zg-comment-votes-arrow glyphicon glyphicon-menu-up"></span>
        <div>10+</div>
        <span class="zg-comment-votes-arrow glyphicon glyphicon-menu-down"></span>
    </div>
</div>

<div class="zg-comment-children">
   
</div>-->

<div class="zg-item-children" ng-show="ischildren">
   <zg-item item="item" ng-repeat="item in itens"></zg-item>
</div>

<zg-item item="item" ng-repeat="item in itens" ng-hide="ischildren"></zg-item>